@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Use the appropriate path to your image or provide the URL */
  background-image: url('https://images.pexels.com/photos/301717/pexels-photo-301717.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover; /* Adjust as needed to cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}
